@use '../1_abstracts/functions' as f;
@use '../1_abstracts/variables' as v;

header {
  display: flex;
  align-items: center;
  background-color: f.getcolor('primary');
  width: 100%;
  height: v.$navHeight;

  .logo {
    display: inline-block;
    height: 80%;
  }
}

header .menu {
  display: flex;
  margin-left: 5%;
  height: 100%;

  ul {
    display: flex;

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 5px;
      color: f.getcolor('background');
      font-family: v.$fontFamilyPharagraph;
      transition: all 0.5s linear;

      &:hover {
        background-color: f.getcolor('accent');
      }
    }
  }
}
